@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--background);
    font-family: 'Acme', sans-serif;
}

:root{
    --background: #DEFCF9;
    --text-color: #333333;
    --btn-main: #40E3E3;
    --btn-hover: #00B2FF;
    --cloud: #787878;
    --peacock-body1: #060047;
    --peacock-body2: #DBDBDB;
    --peacock-feather: #50CB86;
    --peacock-feather-circle1: #FFE263;
    --peacock-feather-circle2: #195DA9;
    --peacock-beak1: #F99417;
    --peacock-beak2: #F2CD5C;
    --peacock-eye1: #FF0000;
    --peacock-eye2: #ffffff;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    font-family: 'Acme', sans-serif;
    padding: 0.8rem 2.1rem 0.8rem 6rem;
    font-size: 2.2rem;
    border: none;
    overflow: hidden;
    background-color: var(--btn-main);
    color: var(--text-color);
}

.btn:hover{
    background-color: var(--btn-hover);
    transition: all .2s ease-in-out;
}

.peacock{
    position: relative;
}

.body-wrap{
    position: absolute;
    top: 50%;
}

.peacock-body{
    width: 12rem;
    height: 12rem;
    position: relative;
}

.peacock-body1{
    width: 12rem;
    height: 12rem;
    background-color: var(--peacock-body1);
    border-radius: 50%;
    position: absolute;
}

.peacock-body2{
    width: 9rem;
    height: 9rem;
    background-color: var(--peacock-body2);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.peacock-head{
    width: 6rem;
    height: 12rem;
    background-color: var(--peacock-body1);
    border-radius: 6rem 0 0 6rem;
    position: relative;
}

.head-circles{
    position: absolute;
    right: -60%;
}

.head-circle1{
    width: 7.1rem;
    height: 7.1rem;
    background-color: var(--peacock-body1);
    border-radius: 50%;
    position: relative;
}

.head-eye1{
    width: 1.9rem;
    height: 1.9rem;
    background-color: var(--peacock-eye1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head-eye2{
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--peacock-eye2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.peacock-beak{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translate(0%, -50%);
    z-index: -1;
}

.peacock-beak1{
    width: 4rem;
    height: 4rem;
    background-color: var(--peacock-beak1);
    border-radius: 0 4rem 0 0;
    position: relative;
}

.peacock-beak2{
    width: 2.6rem;
    height: 2.6rem;
    background-color: var(--peacock-beak2);
    border-radius: 0 2.6rem 0 0;
    position: absolute;
    bottom: 0;
}
