*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --primary: #DEFCF9;
    --peacock-body: #060047;
    --peacock-beak1: #F99417;
    --peacock-beak2: #F2CD5C;
    --peacock-feather-primary: #449187;
    --peacock-feather1: #FFE15D;
    --peacock-feather2: #0D4C92;
}